astropy==5.3.4
astropy-iers-data==0.2025.11.10.0.38.31
astroquery==0.4.11
backports.tarfile==1.2.0
beautifulsoup4==4.14.2
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
contourpy==1.3.2
cryptography==46.0.3
cycler==0.12.1
fonttools==4.60.1
html5lib==1.1
idna==3.11
importlib_metadata==8.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jeepney==0.9.0
jplephem==2.23
keyring==25.6.0
kiwisolver==1.4.9
llvmlite==0.45.1
matplotlib==3.10.7
more-itertools==10.8.0
numba==0.62.1
numpy==1.26.4
packaging==25.0
pandas==2.3.3
pillow==12.0.0
plotly==5.24.1
poliastro==0.17.0
pycparser==2.23
pyerfa==2.0.1.5
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
pyvo==1.7.1
PyYAML==6.0.3
requests==2.32.5
scipy==1.15.3
SecretStorage==3.4.0
sgp4==2.25
six==1.17.0
soupsieve==2.8
tenacity==9.1.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
webencodings==0.5.1
zipp==3.23.0
jpype1==1.6.0
orekit-jpype==13.1.2.1
